



/******************* 推荐 *******************/
#recommend {
    height: 400px;
    background: lightseagreen;
}

/******************* 楼层 *******************/


/******************* 厨房 *******************/
.kitchen {
    margin-top: 30px;
    padding: 118px 0 10px;
    background: orange;
}
.kitchen-box {
    height: 530px;
    background: salmon;
}

/******************* 山姆weibo *******************/
#weibo {
    height: 680px;
    background: palegreen;
}

/******************* 活动 *******************/
.activity {
    height: 80px;
    margin: 10px auto;
    background: seagreen;
}


/******************* 尾部 *******************/
